@model IEnumerable<SrTest.Web.Models.Employee>
<div class="row" style="margin-top:30px; margin-bottom:30px">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Searching Employees</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                            <div class="col-lg-6" style="padding:0">
                                <label>Identification</label>
                                <input type="text" id="txtid" placeholder="Identification" class="txtForm" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="row">
                    <div class="col-md-12">
                        <input id="btnGetEmployee" class="btn btnForm" onclick="GetEmployees();" value="Get Employees" title="Get Employees" type="button" style="width:250px !important;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table" id="Resultados">
  
</table>

<script src="~/Scripts/Views/Home/Employee.js"></script>