@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Alexander Test</h3>
    <p class="lead">
        Thank you for allowing me to participate in this selection process. for reasons of time I could not do the unit tests even if I did the implementation with injection
        <br />
        <br />
        considerations:
        <br />
        in the SrTest.Tools.Support.ConstantsHelper class there are the URLs of the WebApis in case they need to change
        <br />
        <br />
        Any questions please call me:
        <br />
        Mobile phone: 3007787369
        <br />
        Email: walex0402@gmail.com
        <br />
        Att: Alexander Gonzalez
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>